@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harmony_Regular";
  src: url("/fonts/HarmonyOS_Sans_SC_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 使用自定义字体 */
body {
  font-family: "Harmony_Regular";
}

.scrollbar {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 4px; /* 垂直滚动条的宽度 */
  height: 4px; /* 水平滚动条的宽度 */
}

/* 定义滚动条的轨道样式 */
.scrollbar::-webkit-scrollbar-track {
  background: #eee; /* 轨道颜色 */
}

/* 定义滚动条的滑块样式 */
.scrollbar::-webkit-scrollbar-thumb {
  background: #999; /* 滑块颜色 */
  border-radius: 5px; /* 滑块圆角 */
}

/* 定义滑块在鼠标悬停时的样式 */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* 鼠标悬停时滑块颜色加深 */
}
