@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harmony_Regular";
  src: url("/fonts/HarmonyOS_Sans_SC_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 使用自定义字体 */
body {
  font-family: "Harmony_Regular";
}