.editor-pinyin {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #369eff;
}

.editor-pinyin::after {
    display: inline-block;
    content: attr(data-pinyin);
}