.editor-speed {
    cursor: pointer;
    display: inline;
    text-align: center;
}

.editor-speed > .speed-tag {
    display: inline-flex;
    align-items: center;
    user-select: none;
    background-color: #e96c5e;
    color: #fff;
    border-radius: 6px;
    padding: 2px 4px;
    margin-left: 4px;
}

.editor-speed > .speed-tag > .speed-tag-text {
    font-size: 14px;
}

.editor-speed > .wrap-node {
   position: relative;
}

.editor-speed > .wrap-node::before {
    color: #e96c5e;
    display: inline-block;
    content: "「";
    font-weight: 700;
}

.editor-speed > .wrap-node::after {
    color: #e96c5e;
    display: inline-block;
    content: "」";
    font-weight: 700;
}