.editor-voice {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.editor-voice > .voice-tag {
    display: inline-flex;
    align-items: center;
    user-select: none;
    background-color: #3fd3a2;
    color: #fff;
    border-radius: 6px;
    padding: 2px 4px;
    margin-left: 4px;
}

.editor-voice > .voice-tag > .voice-tag-text {
    font-size: 14px;
}

.editor-voice > .wrap-node {
   position: relative;
}

.editor-voice > .wrap-node::before {
    color: #3fd3a2;
    display: inline-block;
    content: "「";
    font-weight: 700;
}

.editor-voice > .wrap-node::after {
    color: #3fd3a2;
    display: inline-block;
    content: "」";
    font-weight: 700;
}